.formContainer {
  border: 6px solid #d54e60;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffd2fc;
}

.formContainer input {
  width: 50%;
  background-color: #efe6dd;
}

.formContainer button {
  margin-top: 10px;
  width: 120px;
  border-radius: 15px;
  background-color: #9198e5;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.formContainer:hover button:hover {
  background-color: orange;
  color: black;
  transition: 250ms;
}

label {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2 {
  font-weight: inherit;
  margin-bottom: 15px;
  padding-top: 30px;
}

span {
  padding-bottom: 15px;
}
